@model CassandraProj.Models.KoncertData

@{
}

<nav>
    <button style="margin-bottom: 50px">
        <a asp-area="" asp-action="PrikaziKoncerte" asp-controller="KoncertController"></a>
    </button>
</nav>
<h1>Prikaz svih koncerata</h1>
<br />
<br />
<table border="2" style="background-color:lightpink;text-align:center">
    <thead>
        <tr>
            <th width="200">Koncert ID</th>
            <th width="200">Ime</th>
            <th width="200">Organizator</th>
            <th width="200">Sponzor</th>
            <th width="200">Opis</th>
            <th width="200">Tip</th>     
            <th width="200">Dodatno</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.stdRecords)
        {
        <tr>
            <td>@item.KoncertID</td>
            <td>@item.Ime</td>
            <td>@item.Organizator</td>
            <td>@item.Sponzor</td>
            <td>@item.Opis</td>
            <td>@item.Tip</td>
            <td>
                <form action="ObrisiKoncert" method="post">
                    <input type="text" name="koncertID" placeholder="koncertID" value="@item.KoncertID" hidden="hidden" />
                    <input style="width:100%;background-color:palevioletred" type="submit" value="Obriši koncert" />
                </form>
                <form action="PromeniKoncert" method="post">
                    <input type="text" name="koncertID" placeholder="koncertID" value="@item.KoncertID" hidden="hidden" />
                    <input style="width:100%;background-color:aliceblue" color="blue" type="submit" value="Modifikuj" background-color="#C8E0E8" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
<br />
<div></div>
<div>
    <a href="../Koncert/KreirajKoncert" class="this-page-style">Dodaj novi koncert..</a>
</div>
<hr>
<div>
    <button>
        <a href="../Home/Index" class="this-page-style">Vrati se na početnu stranu</a>
    </button>
</div>




